 @*
     For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
 *@
 @{
 }
 @model PizzaRequestModel
<p><h2>Add A new Pizza</h2></p> 

 <form asp-action="AddPizza" asp-controller="PIZZA" class="slot">
   <div>

    <label asp-for="Name" class="fn"></label><br>
    <input type="text" asp-for ="Name" /><br>

        <label asp-for="Description">Pizza Description:</label><br>
        <input type="text" asp-for ="Description" /><br><br>

        <label asp-for="IsAvailable">IsAvailable:</label><br>
        <input type="checkbox" asp-for = "IsAvailable"/><br><br>

    </div>
    <div>
    <input type="submit" class ="btn btn-primary"value="Submit"> 
    </div>
</form>
